.banner {
    color: rgb(0, 0, 0);
    padding: 35px;
    height: 540px;
    background-color: rgb(33, 68, 68);
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 1px;
    display: flex;
    background-image: url(wave\ \(2\).svg);
}


.navbar {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
}

.we {
    background-color: rgb(33, 68, 68);
    height: 1900px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;

}


.header .container {
    width: 80%;
    margin: 100px;
    align-items: flex-start;
    display: flex;
    margin-top: 10%;
}

.logo {
    display: flex;
    padding-left: 3%;
    margin-right: 70px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-left: 350px;

}

.navbar ul {
    background-color: #000000;
    justify-content: right;
}

li {
    color: #ffffff;

}

li.here {
    border-bottom: #ffffff 2px solid;
}

a {
    color: #ffffff;
    text-decoration: none;

}

.navbar a:focus {

    border-bottom: solid 2px #323232;
    border-color: white;
}

.header a {

    color: white;
}



* {
    margin: 0%;
    font-family:  'Arial Narrow', Arial, sans-serif;

}

.box {
    background-color: rgb(28, 54, 54);
    height: 610px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 60px;
}

.footer {
    height: 25vh;
    color: #052d21;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(154, 185, 185);


}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #052d21;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.not {
    display: flex;
    width: 100%;
    height: 240px;
}



body::-webkit-scrollbar {
    background-color: rgb(33, 68, 68);
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(33, 68, 68);
    /* color of the tracking area */
}


body::-webkit-scrollbar-thumb {
    background-color: rgba(148, 148, 148, 0.357);
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0, 0);
}


.btn {
    background-color: #000000;
}

button {
    background-color: #00000012;
    ;
    width: 60%;
    height: 10%;
    border-radius: 20px;
    color: #ffffff;
    font-size: x-large;
    margin-top: 80px;
    margin-bottom: 30px;
    border: 1px white solid;
}

.product {
    border-radius: 12px;
    width: 24%;
    height: 100%;
    background-color: #00000034;
    background-size: cover;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
}

.product:hover {
    box-shadow: 0 8px 20px rgb(0, 0, 0);
    transition: 2s;
    cursor: pointer;
    width: 30%;
}

.not1 {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    padding-bottom: 27px;
    margin-right: 10%;
}

button:hover {
    background-color: #00000087;
    ;
    filter: opacity(90%);
    transition: 1s;
    width: 65%;
    height: 12%;

}



button:active {
    background-color: #fbff00c9;

}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 220%;
    background-color: #ababab45;
    border-radius: 5px;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 220%;
    background-color: #04200b9b;
    border-radius: 5px;
}

.box-we {

    color: #ffffff;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}

.box-we b {
    font-size: xxx-large;
    margin-left: 120px;
}

.fundo-box-we {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
}

.we-text {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
}

.parceiros {
    display: flex;
    width: 100%;
    height: 17vh;
    background-color: rgba(186, 221, 215, 0.996);
}

.productp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    height: 100%;
}

.box-footer {
    display: flex;
    width: 90%;
    height: 100%;

}

.mini-box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 100%;

    margin: 1%;
    margin-top: 0%;
}

.mini-box-footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 100%;

    margin: 1%;
    margin-top: 1%;
    color: #333333;
}

.mini-box-footer2 a {
    color: #323232;
}

.espacamento {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55vh;
    background-color: rgb(154, 185, 185);
}

.we {
   margin-top: 1%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(154, 185, 185);
    flex-direction: column;
}
.mini-we {
    display: flex;
    justify-content: center;
    align-items: center;

     display: flex;
     width: 100%;
     height: 50%;
     background-color: rgb(154, 185, 185);
     flex-direction: column;
     
 }

 .mini-we img{
    border-radius: 3px;
    border: #ffffff 6px solid;

 }
 .mini-we .tittle{
    display: flex;
    margin: 6px;
    justify-content: flex-start;
    font-style: oblique;
   color: #ffffff;
   font-size: xx-large;

 }
 .text-we{
    width: 75%;
    font-size: 20px;
 }